<!-- 
<div class="Container-title-dialog">
<h1   *ngIf ="edit == false"class="title">Crear Producto</h1>
<h1   *ngIf ="edit == true"class="title"> Editar Producto</h1>
</div>
<div class="Content-Modifed">

    


<form  (ngSubmit)="eventForm()" #myForm="ngForm" class="example-form">


    <mat-form-field  class="example-full-width">
        <mat-label>Nombre Producto</mat-label>
        <input matInput placeholder="Carro"  name="nameProduct"  required id="nameProduct" [(ngModel)]="cProduct.nameProduct">
      </mat-form-field>
      
    <mat-form-field  class="example-full-width">
        <mat-label>Precio</mat-label>
        <input matInput placeholder="1.00" name="price"  required id="price" [(ngModel)]="cProduct.price">
      </mat-form-field>
      
    <mat-form-field  class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="" name="discretion"  required id="discretion" [(ngModel)]="cProduct.discretion">
      </mat-form-field>
      
    <mat-form-field  class="example-full-width">
        <mat-label>Categoria</mat-label>
      <mat-select   >
                <mat-option>Selecione Categoria </mat-option>
                <mat-option *ngFor="let Category  of   ListCategory  " [value]="Category.IdCategory">{{Category.NameCategory}}</mat-option>                    
            </mat-select> -->
        <!-- <input matInput placeholder=""  name="idCategory"  required id="idCategory" [(ngModel)]="cProduct.idCategory"/>
      </mat-form-field>



 
      <button  *ngIf ="edit == false"  [disabled]="myForm.invalid" type="submit" class="send-product"> Crear </button>
      <button  *ngIf ="edit == true" [disabled]="myForm.invalid" type="submit" class="send-product"> Editar </button>
  </form>
    
</div> -->


<h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
	<p style="text-align: justify;">Lo sentimos pero no existen vuelos con sillas a seleccionar disponibles en el paquete
		e itinerario seleccionado, por
		favor intente otro itinerario</p>
	<p>¿Deseas Continuar?</p>
</div>
<div mat-dialog-actions>
</div> 

